.wrap {
  margin: auto;
  width: 500px;
}

.title {
  font-family: Courier New, monospace;
  font-weight: normal;
  text-align: center;
}

.img {
  text-align: center;
}

.avatar {
  width: 50%;
  border-radius: 10%;
  overflow: hidden;
}

.text {
  font-family: Courier New, monospace;
  font-weight: normal;
}

.link {
  font-family: Courier New, monospace;
  color: #356eff;
  text-decoration: none;
  transition: opacity .5s;
}

.link:hover {
  opacity: 0.5;
}

@media (max-width: 505px) {
  .wrap {
    width: 400px;
  }
}

@media (max-width: 410px) {
  .wrap {
    width: 300px;
  }

  .ol {
    padding-left: 30px;
  }
}