.wrap {
  margin: auto;
  width: 500px;
}

.title {
  font-family: Courier New, monospace;
  font-weight: normal;
  text-align: center;
}

@media (max-width: 505px) {
  .wrap {
    width: 400px;
  }
}

@media (max-width: 410px) {
  .wrap {
    width: 300px;
  }
}